{% extends 'base-for-common.html' %}

{% block title %}UzNation{% endblock %}
<!-- TODO: put image here-->
{% block site-logo %}<!--<img src="" alt="UzNation">-->{% endblock %}

{% block nav_bar %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {% for m in menus.all %}
            {% if m.sub_menu != 'None' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ m.name }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for sub in m.sub_menu.all %}
                            <li><a href="{% url 'uznation:info-with-sub' slug_m=m.name|slugify slug_sub=sub.name|slugify %}">{{ sub.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'uznation:info' slug_m=m.name|slugify %}">{{ m.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block search %}
<div class="search-box">
<form method="post" action="" name="search">
    <a class="search" href="#"><i class="icon-search"><span>search</span></i></a>
    {% csrf_token %}
    {{ search_form.as_p }}
    <input type="submit" value="Search" name="search_web">
</form>
    <div class="btn-group">
        <ul>
        <li><a href="/en" class="btn btn-primary btn-sm">EN</a></li>
        <li><a href="/ru" class="btn btn-primary btn-sm">RU</a></li>
        <li><a href="/uz" class="btn btn-primary btn-sm">UZ</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block promo-photo %}
<!-- TODO: put image here-->
    <img src="{{ promo.promo_photo.url }}" alt="image description" class="font">
{% endblock %}
{% block main %}
    {% block main-row-div-1 %}
    <div class="col-lg-9 col-sm-8 col-xs-12 col-lg-push-3 col-sm-push-4 content">
        <!-- gallery -->
        <div class="img"><img src="{{ content.photo.url }}" alt="{{ content.title }}"></div>
        <div class="text">
            <h2>{{ content.title }}</h2>
            <p>{{ content.body|safe }}</p>
        </div>
        <!-- project-area -->
        <div class="masonry-holder">
							<h2>Mavzuga Yaqin</h2>
							<ul class="masonry add">
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/toy2.jpg" alt="image description">
										</div>
										<div class="caption">
											<div class="c1">
												<div class="c2">
													<strong class="title">O'zbek To'yi</strong>
													<p>Qiz va Yigitning Uchrashuvi</p>
													<ul class="icons">
														<li><a href="#"><i class="icon-resize-full-alt"></i> <span>resize</span></a></li>
														<li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/toy1.jpg" alt="image description">
										</div>
										<div class="caption">
											<div class="c1">
												<div class="c2">
													<strong class="title">O'zbek To'yi</strong>
													<p>Yigit va Qizning Uchrashuvi</p>
													<ul class="icons">
														<li><a href="#"><i class="icon-resize-full-alt"></i> <span>resize</span></a></li>
														<li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/toy4.jpg" alt="image description" style="height:312px">
										</div>
										<div class="caption">
											<div class="c1">
												<div class="c2">
													<strong class="title">O'zbek To'yi</strong>
													<p>Yigit va Qizning Uchrashuvi</p>
													<ul class="icons">
														<li><a href="#"><i class="icon-resize-full-alt"></i> <span>resize</span></a></li>
														<li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
    </div>
{% endblock %}

    {% block most-visited %}
<!-- TODO: most visited-->
    {% endblock %}

    {% block pics %}
<!-- TODO: pics-->
    {% endblock %}

    {% block last-news %}
<!-- TODO: lastnews-->
    {% endblock %}

{% endblock %}

{% block logo-footer %}
    <!-- TODO: logo-footer-->
    <!--<img alt="UzNation" src="{{ info.logo_footer.url }}">-->
{% endblock %}

{% block footer-txt %}
<div class="footer-txt">
    <div class="text">
        <p>
            {{ info.description|safe }}
        </p>
        <div class="contact">
            {% if info.address %}
                <address><span class="yellow">Address:</span>{{ info.address|safe }}</address>
            {% endif %}
            {% if info.email %}
                <span class="email"><span class="yellow">Email: </span><a href="{{ info.email }}">{{ info.email }}</a></span>
            {% endif %}
            {% if info.phone_1 %}
                <span class="tel"><span class="yellow">Post: </span>{{ info.phone_1 }}</span>
            {% endif %}
            {% if info.phone_2 %}
                <span class="tel"><span class="yellow">      </span>{{ info.phone_2 }}</span>
            {% endif %}
        </div>
    </div>
    <ul class="testimonial">
        {% for news in all_news.all %}
            <li>
                <p><a href="#"><i class="glyphicon glyphicon-check"></i><span>{{ news.news_title|safe }}</span></a><br/>{{ news.news_body|safe }}</p>
                <span>{{ news.news_created|safe }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block sub-nav %}
<ul class="sub-nav">
    {% for m in menus.all %}
        {% if not m.sub_menu %}
            <li><a href="{% url 'uznation:info-m' menu=m.name %}">{{ m.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}