{% extends 'base-for-common.html' %}

{% block title %}UzNation{% endblock %}

{% block main-row-div-1 %}
    <div class="col-lg-9 col-sm-8 col-xs-12 col-lg-push-3 col-sm-push-4 content">
						<div class="masonry-holder">
							<h2>O'zbek San'ati</h2>
							<ul class="masonry add">
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/rassom1.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/sanat.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
                                        <div class="img">
											<img src="images/center.jpg" alt="image description" style="height:159px;">
										</div>									</div>
								</li>
							</ul>
						</div>
						<div class="masonry-holder">
							<h2>Tarixiy Obidalar</h2>
							<ul class="masonry add">
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/obida4.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/obida6.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
                                        <div class="img">
											<img src="images/obida5.jpg" alt="image description" style="height:159px;">
										</div>									</div>
								</li>
							</ul>
						</div>
						<div class="masonry-holder">
							<h2>Zamonaviy Binoalar</h2>
							<ul class="masonry add">
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/1231.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/1232.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
                                        <div class="img">
											<img src="images/1233.jpg" alt="image description" style="height:159px;">
										</div>									</div>
								</li>
							</ul>
						</div>
						<div class="masonry-holder">
							<h2>Adiblar</h2>
							<ul class="masonry add">
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/adib4.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/adib5.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
                                        <div class="img">
											<img src="images/adib3.jpg" alt="image description" style="height:159px;">
										</div>									</div>
								</li>
							</ul>
						</div>
						<div class="masonry-holder">
							<h2>Milliy Boyliklar</h2>
							<ul class="masonry add">
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/pole.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/paxta1.jpg" alt="image description" style="height:159px;">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
                                        <div class="img">
											<img src="images/bug'doy.jpg" alt="image description" style="height:159px;">
										</div>									</div>
								</li>
							</ul>
						</div>
					</div>
{% endblock %}

{% block style %}col-lg-pull-9 col-sm-pull-8 sidebar{% endblock %}
