{% extends 'base-for-common.html' %}

{% block title %}UzNation{% endblock %}

{% block main-row-div-1 %}
    <div class="col-lg-9 col-sm-8 col-xs-12 col-lg-push-3 col-sm-push-4 content">
						<!-- gallery -->
        <div class="text">
            <div class="panel-group" id="accordion">
                {% for maqol in maqollar.all %}
                <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter|stringformat:'' }}">{{ maqol.title }}</a>
                  </h4>
                </div>
                    {% if forloop.counter == 1 %}
                <div id="collapse{{ forloop.counter|stringformat:'' }}" class="panel-collapse collapse in">
                        {% else %}
                        <div id="collapse{{ forloop.counter|stringformat:'' }}" class="panel-collapse collapse">
                    {% endif %}
                  <div class="pancdel-body">{{ maqol.body|safe }}</div>
                </div>
              </div>
                {% endfor %}

              <div class="masonry-holder">
							<h2>O'zbek Adabiyoti Maqollari</h2>
							<ul class="masonry add">
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/maqol.gif" alt="image description">
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="images/maqol.gif" alt="image description" >
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
                                        <div class="img">
											<img src="images/maqol.gif" alt="image description" >
										</div>									</div>
								</li>
							</ul>
						</div>

  </div>

							</div>
							</div>
{% endblock %}

{% block style %}col-lg-pull-9 col-sm-pull-8 sidebar{% endblock %}
