{% extends 'base.html' %}

{% block main %}
<main id="main">
        <div class="container">
            <div class="row">
                {% block main-row-div-1 %}{% endblock %}


                    <div class="col-lg-3 col-sm-4 col-xs-12 {% block style %}{% endblock %}">

                        <div class="widget add wow fadeInUp" data-wow-delay="0.6s">
                                <h2>SEARCH</h2>
                                <div class="wpcf7">
                                    <form action="#" class="wpcf7-form" enctype="multipart/form-data">
                                        <div class="rows">
                                            <span class="wpcf7-form-control-wrap Searchfield">
                                                <input type="search" name="Searchfield" value="" class="wpcf7-form-control wpcf7-text wpcf7-Search wpcf7-validates-as-required wpcf7-validates-as-Search Search-class wpcf7-use-title-as-watermark" size="12" placeholder="" />
                                            </span>
                                        </div>
                                        <button type="submit" value="SEND MESSAGES"><i class="icon-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        <div class="widget wow fadeInUp" data-wow-delay="0.6s">
                                <h2>MOST VISITED PLACES</h2>
                                <ul class="categories">
                                    <li><a href="#">REGISTON</a></li>
                                    <li><a href="#">ZOMIN</a></li>
                                    <li><a href="#">GO'R AMIR</a></li>
                                    <li><a href="#">CHORVOQ</a></li>
                                    <li><a href="#">OQSAROY</a></li>
                                </ul>
                            </div>
                        <div class="widget wow fadeInUp" data-wow-delay="0.6s">
                                <h2>RASMLAR</h2>
                                <ul class="instagram">
                                    <li><a href="#"><img src="images/large1.jpg" alt="image description" style="width:83px; height:83px;"></a></li>
                                    <li><a href="#"><img src="images/large.jpg" alt="image description" style="width:83px; height:83px;"></a></li>
                                    <li><a href="#"><img src="images/img8.jpg" alt="image description" style="width:83px; height:83px;"></a></li>
                                    <li><a href="#"><img src="images/img9.jpg" alt="image description" style="width:83px; height:83px;"></a></li>
                                    <li><a href="#"><img src="images/sanat.jpg" alt="image description" style="width:83px; height:83px;"></a></li>
                                    <li><a href="#"><img src="images/IMG10.jpg" alt="image description" style="width:83px; height:83px;"></a></li>
                                </ul>
                            </div>
                        <div class="widget wow fadeInUp" data-wow-delay="0.6s">
                                <h2>SO'NGI YANGILIKLAR</h2>
                                <ul class="recent">
                                    <li>
                                        <div class="img">
                                            <a href="#"><img src="images/news1.jpg" alt="image description"></a>
                                        </div>
                                        <div class="txt">
                                            <h3><a href="#">O'zbekiston Prezidenti Karimov.I 1-iyun "Xalqaro Bolalar Kuniga" atab nutq so'zladilar.</a></h3>
                                            <time datetime="2016-01-02 16:00">Juanary 2, 2016</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="img">
                                            <a href="#"><img src="images/1231.jpg" alt="image description" style="width:83px; height:83px;"></a>
                                        </div>
                                        <div class="txt">
                                            <h3><a href="#">Toshkentda yangi "Simpozium" nomli kutubxona qad ko'tardi.</a></h3>
                                            <time datetime="2016-01-02 20:00">Juanary 10,2016</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="img">
                                            <a href="#"><img src="images/news3.jpg" alt="image description" style="width:83px; height:83px;"></a>
                                        </div>
                                        <div class="txt">
                                            <h3><a href="#">Mas'uliyati cheklangan tanlov g'oliblariga Prezident sovg'asi topshirildi</a></h3>
                                            <time datetime="2016-01-02 20:00">Juanary 18,2016</time>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="img">
                                            <a href="#"><img src="images/news4.jpg" alt="image description" style="width:83px; height:83px;"></a>
                                        </div>
                                        <div class="txt">
                                            <h3><a href="#">450-Jahon Mendelev Olimpiadasi Londonda bo'lib o'tadigan bo'ldi.</a></h3>
                                            <time datetime="2016-01-02 20:00">Juanary 24,2016</time>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        <div class="widget wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                                <h2>O'zbekistonda Soat</h2>
                                <div class="tags">

                                    Bu yerda O'zbekitonda soat qismi qimirlab turadi, yoki yurtboshimiz nutqi degan video bo'lib o'tadi.

                                </div>
                            </div>
                    </div>

            </div>
        </div>
    </main>
{% endblock %}