{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}UzNation{% endblock %}

{% block site-logo %}<!--<img src="{{ info.site_logo|thumbnail_url:'site_logo' }}" alt="UzNation">-->{% endblock %}

{% block nav_bar %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {% for m in menus %}
            {% if m.sub_menu.exsists %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ m.name }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for sub in m.sub_menu.all %}
                            <li><a href="#">{{ sub.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="#">{{ m.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div><!-- /.navbar-collapse -->
{% endblock %}

{% block main %}
    <main id="main">
    {% block slideshows %}
        <div class="visual">
            <div class="max-container">
                <div class="slideshow" id="main-slider">
                    {% for slide in slides.all %}
                        <div class="slide">
                            <div class="caption">
                                <div class="text">
                                    <p>{{ slide.description|safe }}</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="{{ slide.photo|thumbnail_url:'slide' }}" alt="{{ slide.description }}">
                            </div>
                            <span class="box"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="max-container">
        <div class="info-holder">
            {% block info-holder %}
            {% for article in main_articles %}

                {% if forloop.counter == 1 %}
                    <!-- info -->
                    <div class="info">
                        <div class="img-frame wow fadeInLeft" data-wow-delay="0.6s">
                            <div class="text">
                                <span class="num">25</span>
                                <h2 class="tild">{{ article.b_tild }}</h2>
                                <div class="box">
                                <h3>{{ article.b_box }}</h3>
                                </div>
                            </div>
                            <div class="image wow fadeInRight" data-wow-delay="0.6s">
                                <img src="{{ article.subarticle.last.photo.url }}" alt="{{ article.subarticle.last.title }}" style="width:403px; height:647px; ">
                            </div>
                        </div>
                        <div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
                            <h3 style="color:blue">{{ article.subarticle.last.title }}</h3>

                            <p>{{ article.subarticle.last.body|safe }}</p>
                            <!--	<div class="signature">
                                            <img src="images/large.jpg" alt="signature">
                                        </div> -->
                        </div>
                    </div>
                {% endif %}
                {% if forloop.counter == 2 %}
                    <!-- team info -->
                    <div class="info team">
                        <div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
                            <p align="center" style="color:blue;font-size:18px;">{{ article.subarticle.last.title }}</p>
                            <p>{{ article.subarticle.last.body|safe }}</p>
                        </div>
                        <div class="img-frame">
                            <div class="image wow fadeInRight" data-wow-delay="0.6s">
                                <img src="{{ article.subarticle.last.photo.url }}" alt="{{ article.subarticle.last.title }}" class="team1-img" style="width:413px; height:551px;">
                            </div>
                            <div class="text wow fadeInRight" data-wow-delay="0.6s">
                                <h2 class="tild">{{ article.b_tild }}</h2>
                                <div class="box">

                                    <div class="box-inner">
                                        <h3>{{ article.b_box }}</h3>
                                    </div>
                                    <br/>
                                    <br/>
                                    <br/>
                                </div>
                                <a href="{% url 'uznation:mainarticle' pk=article.pk %}" class="more">batafsil</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if forloop.counter == 3 %}
                    <!-- work info -->
                    <div class="info work">
                        <div class="txt-frame wow fadeInLeft" data-wow-delay="0.6s">
                            <h2 class="tild">{{ article.b_tild }}</h2>
                            <ul class="filter">
                                <li class="active"><a href="#">Barchasi</a></li>
                                {% for sub in article.subarticle.all %}
                                    {% if forloop.counter == 1 %}
                                        <li><a href="#" data-filter=".work-b">{{ sub }}</a></li>
                                    {% endif %}
                                    {% if forloop.counter == 2 %}
                                        <li><a href="#" data-filter=".work-w">{{ sub }}</a></li>
                                    {% endif %}
                                    {% if forloop.counter == 3 %}
                                        <li><a href="#" data-filter=".work-m">{{ sub }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <br/>
                            <br/>
                            <a href="{% url 'uznation:mainarticle' pk=article.pk %}" class="more">batafsil</a>
                        </div>
                        <div class="img-frame">
                            <div class="img-area" id="masonry-container">
                                <div class="item work-w wow fadeInUp" data-wow-delay="0.6s">
                                    <img src="{{ article.article_photo1.url }}" alt="{{ article.article_title1 }}" style="height:217px">
                                    <div class="caption">
                                        <div class="c1">
                                            <div class="c2">
                                                <strong class="title">{{ article.article_title1 }}</strong>
                                                <p>{{ article.article_body1|safe }}</p>
                                                <ul class="icons">
                                                    <li><a href="{{ article.article_photo1.url }}" class="lightbox"><i class="icon-resize-full-alt"></i> <span>resize</span></a></li>
                                                    <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item work-m wow fadeInUp" data-wow-delay="0.6s">
                                    <img src="{{ article.article_photo2.url }}" alt="{{ article.article_title2 }}" style="height:217px;">
                                    <div class="caption">
                                        <div class="c1">
                                            <div class="c2">
                                                <strong class="title">{{ article.article_title2 }}</strong>
                                                <p>{{ article.article_body2 }}</p>
                                                <ul class="icons">
                                                    <li><a href="{{ article.article_photo2.url }}" class="lightbox"><i class="icon-resize-full-alt"></i> <span>resize</span></a></li>
                                                    <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item work-b wow fadeInUp" data-wow-delay="0.6s">
                                    <img src="{{ article.article_photo3.url }}" alt="{{ article.article_title3 }}" style="height:432px">
                                    <div class="caption">
                                        <div class="c1">
                                            <div class="c2">
                                                <strong class="title">{{ article.article_title3 }}</strong>
                                                <p>{{ article.article_body3|safe }}</p>
                                                <ul class="icons">
                                                    <li><a href="{{ article.article_photo3.url }}" class="lightbox"><i class="icon-resize-full-alt"></i> <span>resize</span></a></li>
                                                    <li><a href="#"><i class="icon-attach"></i> <span>attach</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if forloop.counter == 4 %}
                    <!-- blogs info -->
                    <div class="info blogs">
                                    <div class="img-frame">
                                        <div class="txt-holder wow fadeInUp" data-wow-delay="0.6s">
                                            <div class="images">
                                                <img src="{{ article.subarticle.first.photo.url }}" alt="{{ article.subarticle.first.title }}" style="height:345px">
                                            </div>
                                            <div class="txts">
                                                <div class="txt-box">
                                                    <h3>{{ article.subarticle.first.title }}</h3>
                                                    <p>{{ article.subarticle.first.body|safe }}</p>
                                                    <a href="#" class="continue"><span>DAVOMI</span> <i class="icon-right-thin"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt-holder right wow fadeInUp" data-wow-delay="0.6s">
                                            <div class="txts">
                                                <div class="txt-box">
                                                    <h3>{{ article.subarticle.last.title }}</h3>
                                                    <p>{{ article.subarticle.last.body|safe }}</p>
                                                    <a href="#" class="continue"><span>DAVOMI</span> <i class="icon-right-thin"></i></a>
                                                </div>
                                            </div>
                                            <div class="images">
                                                <img src="{{ article.subarticle.last.photo.url }}" alt="{{ article.subarticle.last.title }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="txt-frame wow fadeInRight" data-wow-delay="0.6s">
                                        <h2 class="tild">{{ article.b_tild }}</h2>
                                        <!--<span class="num">06</span> -->
                                        <a href="{% url 'uznation:mainarticle' pk=article.pk %}" class="more">batafsil</a>
                                    </div>
                                </div>
                {% endif %}
                {% if forloop.counter == 5 %}
                    <!-- testimonial info -->
                    <div class="info testimonial">
                        <div class="txt-frame wow fadeInLeft" data-wow-delay="0.6s">
                            <h2 class="tild">{{ article.b_tild }}</h2>
                            <!-- <span class="num">05</span> -->
                            <a href="{% url 'uznation:mainarticle' pk=article.pk %}" class="more">batafsil</a>
                        </div>
                        <div class="img-frame wow fadeInUp" data-wow-delay="0.6s">
                            <div class="slider">
                                <div class="mask">
                                                {% for sub in article.subarticle.all %}
                                                <div class="slide">
                                                    <p>{{ sub.body|safe }}<br/><br/></p>
                                                    <div class="images">
                                                        <img src="{{ sub.photo.url }}" alt="{{ sub.title1 }}" style="height:502px">
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                <div class="pagination">
                                    <ul class="mask-inner">
                                        {% for subarticle in article.subarticle.all %}
                                            <li{% if forloop.counter == 3 %} class="active" {% endif %}>
                                                <a href="#"><img src="{{ subarticle.photo.url }}" alt="{{ subarticle.title }}" style="height:164px"></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
            {% endblock %}
        </div>
    </div>
</main>
{% endblock %}

{% block logo-footer %}
<img alt="UzNation" src="{{ info.logo_footer|thumbnail_url:'logo_footer' }}">
{% endblock %}

{% block footer-txt %}
<div class="footer-txt">
    <div class="text">
        <p>
            {{ info.description|safe }}
        </p>
        <div class="contact">
            {% if info.address %}
                <address><span class="yellow">Address:</span>{{ info.address|safe }}</address>
            {% endif %}
            {% if info.email %}
                <span class="email"><span class="yellow">Email: </span><a href="{{ info.email }}">{{ info.email }}</a></span>
            {% endif %}
            {% if info.phone_1 %}
                <span class="tel"><span class="yellow">Post: </span>{{ info.phone_1 }}</span>
            {% endif %}
            {% if info.phone_2 %}
                <br>
                <span class="tel"><span class="yellow"></span>{{ info.phone_2 }}</span>
            {% endif %}
        </div>
    </div>
    <ul class="testimonial">
        {% for news in all_news.all %}
            <li>
                <p><a href="#"><i class="glyphicon glyphicon-check"></i><span>{{ news.news_title|safe }}</span></a></p>
                <span>{{ news.news_created|safe }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block feedback %}
    <form action="." class="wpcf7-form f-contact-form" enctype="multipart/form-data" method="post">
    <h3>Give us feedback</h3>
        {{ feedback_form.media }}
    {{ feedback_form.non_field_errors }}
    <div class="rows">
    {{ feedback_form.name.errors }}
        <label for="{{ feedback_form.name.id_for_label }}">Name: </label>
        {{ feedback_form.name }}
    </div>
    <div class="rows">
        {{ feedback_form.email.errors }}
        {{ feedback_form.email.label_tag }}
        {{ feedback_form.email }}
    </div>
    <div class="rows">
       {{ feedback_form.comment.errors }}
        {{ feedback_form.comment.label_tag }}
    {{ feedback_form.comment }}
    </div>

    <input id="submit" type="submit" value="Send FeedBack">
    </form>
{% endblock %}

{% block sub-nav %}
<ul class="sub-nav">
    {% for m in menus.all %}
        {% if not m.sub_menu %}
            <li><a href="#">{{ m.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
