{% extends 'base-for-common.html' %}

{% block title %}UzNation{% endblock %}

{% block main-row-div-1 %}
    <div class="col-lg-9 col-sm-8 col-xs-12 content">
						<!-- article holder -->
						<div class="article-holder">
							{% for content in contents %}
                            <!-- article -->
							<article class="article side">
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="image wow fadeInLeft" data-wow-delay="0.6s">
									<img src="{{ content.photo.url }}" alt="{{ content.title }}">
								</div>
                                <div class="text wow fadeInRight" data-wow-delay="0.6s">

									<div class="txt">
										<h2>{{ content.title }}</h2>
										<p>{{ content.body|safe }}</p>
										<a class="more" href="#">
											<span>BATAFSIL</span>
											<i class="icon-right-thin"></i>
										</a>
									</div>
								</div>
                                {% else %}
                                    <div class="text wow fadeInLeft" data-wow-delay="0.6s">

                                        <div class="txt">
                                            <h2>{{ content.title }}</h2>
                                            <p>{{ content.body|safe }}</p>
                                            <a class="more" href="#">
                                                <span>BATAFSIL</span>
                                                <i class="icon-right-thin"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image wow fadeInRight" data-wow-delay="0.6s">
                                        <img src="{{ content.photo.url }}" alt="{{ content.title }}">
                                    </div>
                            {% endif %}

							</article>
                            {% endfor %}
						</div>
						<!-- paginations -->
						<div class="paginations wow fadeInUp" data-wow-delay="0.6s">
							<ul>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="icon-right-open-mini"></i></a></li>
							</ul>
						</div>
					</div>
{% endblock %}

{% block style %}sidebar{% endblock %}
